# Ignore node_modules directory (common in JavaScript projects)
node_modules/

# Ignore compiled Python files
*.pyc

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore all files in the build directory
build/

# Ignore sensitive files
.env
.envFlaskTutorial

# Ignore system files
.DS_Store
Thumbs.db
